@import "../../../angular-bootstrap-md/scss/bootstrap/bootstrap-grid.scss";

$main-color: #2A7DFA;
.my-nav {
  background-color: $main-color;
}

.text-box {
  background-color: $main-color;
}

@include media-breakpoint-down(sm) {
  .portrait {
    width: 50%;
    height: auto;
    margin-top: 4%;
    margin-left: 25%;
  }
  .text-box {
    margin-top: 15%;
  }
}
@include media-breakpoint-up(sm) {
  .portrait {
    width: 20vw;
    height: auto;
    z-index: 1;
  }

}
